# Node.js dependencies
node_modules/

# Build output
dist/

# Environment variables file
.env

# Logs
*.log

# TypeScript cache
*.tsbuildinfo

# OS-specific files (e.g., macOS or Windows)
.DS_Store
Thumbs.db

# IDE/Editor settings
.vscode/

commands.sql
