.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  justify-content: left;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 100%;
  z-index: 999;
}

.header > h1 {
  cursor: pointer;
}
