.quizList {
  flex: 0.6;
  margin: 0 20px;
}

.quizList__random {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightsteelblue;
  border-radius: 15px;
  width: 100px;
  height: 35px;
  margin-top: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

.quizList__random > h3 {
  font-size: 15px;
}

.quizList__randomIcon {
  padding: 5px !important;
}
